.Rproj.user
.Rhistory
.RData
.Ruserdata

.httr-oauth
.DS_Store

*Rproj

# Running devtools::test() causes each tutorial to be knitted and
# run in its own directory. We don't want to check in any of the
# resulting files which are created.

inst/tutorials/*/*html
inst/tutorials/*/*_files/

inst/tutorials/02-wrangling-A/*csv
inst/tutorials/02-wrangling-A/*txt
inst/tutorials/02-wrangling-A/*xlsx
tests/testthat/testthat-problems.rds
docs
