# When testing, the input files get copied locally.
# We don't want to check those in so, as a courtesy,
# we list the file types here.
# However, this is still a bit sloppy because, when testing,
# all these files exist in the developpers directory, so they
# all get installed. Might that make some tests "work" that
# will not work for users? Not sure.
*csv
*txt
*xlsx
*rds
*json
*html
!data/*
!.secrets
